@import url('https://fonts.googleapis.com/css2?family=Allison&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/*
font-family: 'Allison', cursive;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {font-family: 'Open Sans','Noto Sans KR', sans-serif;}

#header h1 {position: fixed;top: 60px;left: 60px;z-index: 999;color: #ffffff;}
#header i {position: fixed;top: 60px;right: 60px;font-size: 30px;cursor: pointer;z-index: 999;color: #ffffff;}
#header nav {position: fixed;top: 50%;right: 60px;transform: translateY(-50%);z-index: 999;}
#header nav li {margin: 10px 0;position: relative;height: 10px;}

/* #header nav li a {display: block;width: 30px;height: 6px;border-radius: 3px;background: #333;text-indent: -9999px;position: absolute;right: 0;top: 0;transition: 0.3s;}
#header nav li.on a {width: 60px;}
 */

#header nav li a {display: block;width: 8px;height: 8px;border-radius: 50%;text-indent: -9999px;position: absolute;right: 0;top: 0;transition: 0.3s;}
#header nav li a:before {content: "";display: block;width: 8px;height: 8px;border-radius: 50%;background: #ffffff;position: absolute;top: 0;left: 0;}
#header nav li.on a:after {content: "";display: block;width: 8px;height: 8px;border-radius: 50%;background: rgb(255, 255, 255);position: absolute;top: 0;left: 0;animation: bban 0.5s infinite;z-index: -1;}
#header nav li.on a {transform: scale(1.75)}

@keyframes bban {
    0% {transform: scale(1);opacity: 0.5;}
    50% {transform: scale(2);opacity: 0;}
    100% {transform: scale(1);opacity: 0.5;}
}





@media (max-width:768px) {
    #header h1 {position: fixed;top: 30px;left: 30px;z-index: 999;color: #ffffff;}
    #header i {position: fixed;top: 30px;right: 30px;font-size: 30px;cursor: pointer;z-index: 999;color: #ffffff;}
    #header nav {display: none;position: fixed;top: 50%;right: 30px;transform: translateY(-50%);z-index: 999;}
    #header nav li {margin: 5px 0;position: relative;height: 10px;}
}









.m01 h2 {font-size: 80px;text-align: center;font-family: 'Allison', cursive;letter-spacing: 0.025em;margin-bottom: 20px;transform: translateY(100px);opacity: 0;color: #ffffff;}
.m01 p {font-size: 12px;text-align: center;letter-spacing: 0.025em;line-height: 1.4;transform: translateY(100px);opacity: 0;color: #ffffff;}

.m01.on h2 {transform: translateY(0);opacity: 1;transition: 0.5s;color: #ffffff;}
.m01.on p {transform: translateY(0);opacity: 1;transition: 0.5s 0.5s;color: #ffffff;}



@media (max-width:768px) {
    .m01 h2 {font-size: 40px;text-align: center;font-family: 'Allison', cursive;letter-spacing: 0.025em;margin-bottom: 20px;transform: translateY(100px);opacity: 0;padding:0 15px;color: #ffffff;}
    .m01 p {font-size: 12px;text-align: center;letter-spacing: 0.025em;line-height: 1.4;transform: translateY(100px);opacity: 0;padding:0 15px;color: #ffffff;}
}








.m02 {background:#ffffff url(./assets/img/예인.jpg);position: relative;height: 100vh;}
.m02 .container {display: flex;width: 1600px;margin: 0 auto;}

.m02 .container .mockup {flex: 9}
.m02 .container .txt {flex: 7;display: flex;align-items: center;color: #fff}

.m02 .container .mockup figure {height: 720px;padding: 150px 100px 100px 100px;}

.m02 .container .mockup figure .portfolio01 {height: 400px;}

.m02 .txt h3 {font-size: 60px;font-family: 'East Sea Dokdo', cursive;margin-bottom: 30px;}
.m02 .txt h3 i {font-size: 28px;margin-left: 30px;}
.m02 .txt p {font-size: 16px;font-weight: 300;line-height: 1.4;margin-bottom: 30px;}
.m02 .txt ul {line-height: 1.4;margin-bottom: 30px;}
.m02 .txt i {font-size: 40px; color: #fff;margin-right: 15px;margin-bottom: 30px;}




@media (max-width:768px) {
    .m02 {background:#ffffff url(./assets/img/예인.jpg);position: relative;height: 100vh;}
    .m02 .container {display: flex;flex-direction: column;width: auto;margin: 0 auto;}

    .m02 .container .mockup {flex: 1}
    .m02 .container .txt {flex:1 ;display: flex;align-items: center;padding: 0 20px 20px 20px;text-align: center;color: #fff}

    .m02 .container .mockup figure {height: 300px;padding: 50px 30px 0 30px;}

    .m02 .container .mockup figure .portfolio01 {height: 200px;}

    .m02 .txt h3 {font-size: 40px;font-family: 'East Sea Dokdo', cursive;margin-bottom: 20px;}
    .m02 .txt h3 i {display: none;}
    .m02 .txt p {font-size: 14px;font-weight: 300;line-height: 1.4;margin-bottom: 20px;}
    .m02 .txt ul {line-height: 1.4;margin-bottom: 10px;}
    .m02 .txt i {font-size: 30px; color: #fff;margin-right: 10px;}
}





.m03 {background:#f7f7f7 url(./assets/img/졸작.jpg);position: relative;height: 100vh;}
.m03 .container {display: flex;width: 1600px;margin: 0 auto;}

.m03 .container .mockup {flex: 9}
.m03 .container .txt {flex: 7;order: -1;display: flex;align-items: center;color: #fff}

.m03 .container .mockup figure {height: 720px;padding: 150px 100px 100px 100px;}

.m03 .container .mockup figure .portfolio02 {height: 400px;}

.m03 .txt h3 {font-size: 60px;margin-bottom: 30px;font-family: 'Allison', cursive;}
.m03 .txt h3 i {font-size: 28px;margin-left: 30px;}
.m03 .txt p {font-size: 16px;font-weight: 300;line-height: 1.4;margin-bottom: 30px;}
.m03 .txt ul {line-height: 1.4;margin-bottom: 30px;}
.m03 .txt i {font-size: 40px; color: #fff;margin-right: 15px;margin-bottom: 30px;}
.m03 .txt .spec {margin-left: auto;}


@media (max-width:768px) {
    .m03 {background:#f4f4f4 url(./assets/img/졸작.jpg);position: relative;height: 100vh;}
    .m03 .container {display: flex;flex-direction: column;width: auto;margin: 0 auto;}

    .m03 .container .mockup {flex: 1;}
    .m03 .container .txt {flex: 1;order:1;display: flex;align-items: center;padding: 0 20px 20px 20px;text-align: center;}

    .m03 .container .mockup figure {height: 300px;padding: 50px 30px 0 30px;}

    .m03 .container .mockup figure .portfolio02 {height: 200px;}

    .m03 .txt h3 {font-size: 40px;margin-bottom: 10px;font-family: 'Allison', cursive;}
    .m03 .txt h3 i {display: none;}
    .m03 .txt p {font-size: 14px;font-weight: 300;line-height: 1.4;margin-bottom: 20px;}
    .m03 .txt ul {line-height: 1.4;margin-bottom: 10px;}
    .m03 .txt i {font-size: 30px; color: #fff;margin-right: 10px;}
}




.m04 {background:#f4f4f4 url(./assets/img/goodplace.jpg);position: relative;height: 100vh;}
.m04 .container {display: flex;width: 1600px;margin: 0 auto;}

.m04 .container .mockup {flex: 9}
.m04 .container .txt {flex: 7;display: flex;align-items: center;color: #fff}

.m04 .container .mockup figure {height: 720px;padding: 150px 100px 100px 100px;}

.m04 .container .mockup figure .portfolio03 {height: 400px;}

.m04 .txt h3 {font-size: 60px;margin-bottom: 30px;font-family: 'Allison', cursive;}
.m04 .txt h3 i {font-size: 28px;margin-left: 30px;}
.m04 .txt p {font-size: 16px;font-weight: 300;line-height: 1.4;margin-bottom: 30px;}
.m04 .txt ul {line-height: 1.4;margin-bottom: 30px;}
.m04 .txt i {font-size: 40px; color: #fff;margin-right: 15px;}




@media (max-width:768px) {
    .m04 {background:#f4f4f4 url(./assets/img/goodplace.jpg);position: relative;height: 100vh;}
    .m04 .container {display: flex;flex-direction: column;width: auto;margin: 0 auto;}

    .m04 .container .mockup {flex: 1}
    .m04 .container .txt {flex: 1;display: flex;align-items: center;padding: 0 20px 20px 20px;text-align: center;}

    .m04 .container .mockup figure {height: 300px;padding: 50px 30px 0 30px;}

    .m04 .container .mockup figure .portfolio03 {height: 200px;}

    .m04 .txt h3 {font-size: 40px;margin-bottom: 20px;font-family: 'Allison', cursive;}
    .m04 .txt h3 i {display: none;}
    .m04 .txt p {font-size: 14px;font-weight: 300;line-height: 1.4;margin-bottom: 20px;}
    .m04 .txt ul {line-height: 1.4;margin-bottom: 10px;}
    .m04 .txt i {font-size: 30px; color: #fff;margin-right: 10px;}
}





.m05 {background:#f7f7f7 url(./assets/img/3d.jpg);position: relative;height: 100vh;}
.m05 .container {display: flex;width: 1600px;margin: 0 auto;}

.m05 .container .mockup {flex: 9}
.m05 .container .txt {flex: 7;order: -1;display: flex;align-items: center;color: #fff}

.m05 .container .mockup figure {height: 720px;padding: 150px 100px 100px 100px;}

.m05 .container .mockup figure .portfolio04 {height: 400px;}

.m05 .txt h3 {font-size: 60px;margin-bottom: 30px;font-family: 'Allison', cursive;}
.m05 .txt h3 i {font-size: 28px;margin-left: 30px;}
.m05 .txt p {font-size: 16px;font-weight: 300;line-height: 1.4;margin-bottom: 30px;}
.m05 .txt ul {line-height: 1.4;margin-bottom: 30px;}
.m05 .txt i {font-size: 40px; color: #fff;margin-right: 15px;}
.m05 .txt .spec {margin-left: auto;}




@media (max-width:768px) {
    .m05 {background:#f4f4f4 url(./assets/img/3d.jpg);position: relative;height: 100vh;}
    .m05 .container {display: flex;flex-direction: column;width: auto;margin: 0 auto;}

    .m05 .container .mockup {flex: 1}
    .m05 .container .txt {flex: 1;order:1;display: flex;align-items: center;padding: 0 20px 20px 20px;text-align: center;}

    .m05 .container .mockup figure {height: 300px;padding: 50px 30px 0 30px;}

    .m05 .container .mockup figure .portfolio04 {height: 200px;}

    .m05 .txt h3 {font-size: 40px;margin-bottom: 20px;}
    .m05 .txt h3 i {display: none;}
    .m05 .txt p {font-size: 14px;font-weight: 300;line-height: 1.4;margin-bottom: 20px;}
    .m05 .txt ul {line-height: 1.4;margin-bottom: 10px;}
    .m05 .txt i {font-size: 30px; color: #fff;margin-right: 10px;}
}








.m06 {background:#6d6d6d url(./assets/img/bg03.png);position: relative;height: 100vh;}
.m06 .container {display: flex;width: 1600px;margin: 0 auto;}

.m06 .container .mockup {flex: 9}
.m06 .container .txt {flex: 7;display: flex;align-items: center;}

.m06 .container .mockup figure {background: url(./assets/img/tvmockup2.png) no-repeat;height: 720px;padding: 195px 190px 0 190px;}
.m06 .container .mockup figure .web {height: 310px;overflow: hidden;}
.m06 .container .mockup figure .web img {width: 100%;position: relative;transform: translateY(calc(0));transition: 3s;}
.m06 .container .mockup figure .web:hover img {transform: translateY(calc(-100% + 400px));}

.m06 .txt h3 {font-size: 60px;margin-bottom: 30px;font-family: 'Allison', cursive;}
.m06 .txt p {font-size: 16px;font-weight: 300;line-height: 1.4;margin-bottom: 30px;}
.m06 .txt ul {line-height: 1.4;margin-bottom: 30px;}
.m06 .txt i {font-size: 40px; color: #fff;background: #333;padding: 10px;border-radius: 50%;margin-right: 15px;}

.m06 .txt a {display: block;width: 150px;line-height: 40px;padding: 0 20px;background: #333;color: #fff;border-radius: 0 15px 15px 0;position: relative;transition: 0.5s;}
.m06 .txt a:after {content: "";display: block;width: 30px;height: 30px;background: #fff;border-radius: 50%;position: absolute;top: 5px;right: 35px;opacity: 0;transition: 0.5s;}
.m06 .txt a:hover {width: 200px;}
.m06 .txt a:hover:after {right: 5px;opacity: 1;}
.m06 .txt strong {display: inline-block;width: 70px;font-weight: 700;text-transform: uppercase;}
.m06 .info {line-height: 1.6;}




@media (max-width:768px) {
    .m06 {position: relative;height: 100vh;}
    .m06 .container {display: flex;flex-direction: column;width: auto;margin: 0 auto;}

    .m06 .container .mockup {flex:9;}
    .m06 .container .txt {flex: 7;display: flex;align-items: center;padding: 0 20px 20px 20px;}

    .m06 .container .mockup figure {background: url(./assets/img/tvmockup2.png)  no-repeat center top/contain;height: 300px;padding: 85px 96px 0 96px;}
    .m06 .container .mockup figure .web {height: 124px;overflow: hidden;}
    .m06 .container .mockup figure .web img {width: 100%;position: relative;transform: translateY(calc(0));transition: none;}
    .m06 .container .mockup figure .web:hover img {transform: translateY(0);}

    

    .m06 .txt h3 {font-size: 40px;margin-bottom: 20px;text-align: center;margin-left: 50px;}
    .m06 .txt p {font-size: 14px;font-weight: 300;line-height: 1.4;margin-bottom: 20px;text-align: center;margin-left: 50px;}
    .m06 .txt ul {line-height: 1.4;margin-bottom: 20px;text-align: center;margin-left: 25px;}
    .m06 .txt i {font-size: 20px; color: #fff;background: #333;padding: 5px;border-radius: 50%;margin-right: 10px;}

    .m06 .txt a {display: block;width: 150px;line-height: 40px;padding: 0 20px;background: #333;color: #fff;border-radius: 0 15px 15px 0;position: relative;transition: 0.5s;margin-left: 80px;}
    .m06 .txt a:after {content: "";display: block;width: 30px;height: 30px;background: #fff;border-radius: 50%;position: absolute;top: 5px;right: 35px;opacity: 0;transition: 0.5s;}
    .m06 .txt a:hover {width: 200px;}
    .m06 .txt a:hover:after {right: 5px;opacity: 1;}
    .m06 .txt strong {display: inline-block;width: 70px;font-weight: 700;text-transform: uppercase;}
    .m06 .info {line-height: 1.6;}
}









.m07 {position: relative;background:#feb0b0 url(./assets/img/m07bg.png);position: relative;height: 100vh;}
.m07 .photo_slider {width: 1400px;margin: 0 auto;}
.m07 .photo_slider figure {padding:0 30px;}
.m07 .photo_slider iframe {width: 100%;border-radius: 20px;}

/* .m07 .slick-dots {display: flex;justify-content: center;margin-top: 30px;}
.m07 .slick-dots li {width: 20px;height: 20px;background: #333;border-radius: 50%;margin: 0 4px;transition: 0.5s;}
.m07 .slick-dots li.slick-active {background: #f00;transform: scale(1.3);}
.m07 .slick-dots button {display: none;} */

.m07 .slick-dots {display: flex;justify-content: center;margin-top: 30px;}
.m07 .slick-dots li {width: 60px;height: 6px;background: #7862ff;border-radius: 3px;overflow: hidden;margin: 0 4px;transition: 0.5s;}
.m07 .slick-dots li:after {content: '';display:block;width: 0;height: 100%;background: #ff5d8b;}
.m07 .slick-dots li.slick-active:after {width: 100%;transition: 4s;}
.m07 .slick-dots button {display: none;}

.m07 i {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);font-size: 80px;color: #7862ff;}
.m07 i.xi-angle-left {margin-left:-800px ;cursor: pointer;}
.m07 i.xi-angle-right {margin-left:800px ;cursor: pointer;}

.m07 a {position: absolute;top: 80%;left: 50%;transform: translate(-50%,-50%);display: block;width: 150px;line-height: 40px;padding: 0 15px;background: #7862ff;color: #fff;border-radius: 0 15px 15px 0;transition: 0.5s;}
.m07 a:after {content: "";display: block;width: 30px;height: 30px;background: #fff;border-radius: 50%;position: absolute;top: 5px;right: 35px;opacity: 0;transition: 0.5s;}
.m07 a:hover {width: 200px;}
.m07 a:hover:after {right: 5px;opacity: 1;}


@media (max-width:768px){
    .m07 {position: relative;background:#feb0b0 ;position: relative;height: 100vh;}
    .m07 .photo_slider {width: auto;margin: 0 auto;}
    .m07 .photo_slider figure {padding:0 30px;}
    .m07 .photo_slider img {width: 100%;border-radius: 10px;border: 3px solid #ddd;}
    
    /* .m07 .slick-dots {display: flex;justify-content: center;margin-top: 30px;}
    .m07 .slick-dots li {width: 20px;height: 20px;background: #333;border-radius: 50%;margin: 0 4px;transition: 0.5s;}
    .m07 .slick-dots li.slick-active {background: #f00;transform: scale(1.3);}
    .m07 .slick-dots button {display: none;} */
    
    .m07 .slick-dots {display: flex;justify-content: center;margin-top: 30px;}
    .m07 .slick-dots li {width: 15px;height: 15px;background: #7862ff;border-radius: 50%;overflow: hidden;margin: 0 4px;transition: 0.5s;}
    .m07 .slick-dots li:after {content: '';display:block;width: 0;height: 100%;background: #ff5d8b;}
    .m07 .slick-dots li.slick-active:after {width: 100%;transition: 4s;}
    .m07 .slick-dots button {display: none;}
    
    .m07 i {position: absolute;top: 50%;left:auto;transform: translate(0,-50%);font-size: 30px;background: #333;color: #fff;padding: 10px;}
    .m07 i.xi-arrow-left {margin-left:0 ;left: 0;cursor: pointer}
    .m07 i.xi-arrow-right {margin-left:0 ;right: 0;cursor: pointer}

    .m07 a {position: absolute;top: 88%;left: 50%;transform: translate(-50%,-50%);display: block;width: 150px;line-height: 40px;padding: 0 15px;background: #ff5d8b;color: #fff;border-radius: 0 15px 15px 0;transition: 0.5s;}
    .m07 a:after {content: "";display: block;width: 30px;height: 30px;background: #fff;border-radius: 50%;position: absolute;top: 5px;right: 35px;opacity: 0;transition: 0.5s;}
    .m07 a:hover {width: 200px;}
    .m07 a:hover:after {right: 5px;opacity: 1;}
}





/* .m08 {background:#f4f4f4 url(./assets/img/bg03.png);position: relative;height: 100vh;}
.m08 .container {display: flex;width: 1600px;margin: 0 auto;}
.m08 .container .mockup {flex: 9}
.m08 .container .txt {flex: 7;display: flex;align-items: center;}
.m08 .container .mockup figure {background: url(./assets/img/tvmockup2.png) no-repeat;height: 720px;padding: 190px 190px 0 190px;}
.m08 .container .mockup figure .web {height: 320px;overflow: hidden;}


.m08 .txt h3 {font-size: 30px;margin-bottom: 30px;}
.m08 .txt p {font-size: 14px;font-weight: 300;line-height: 1.4;margin-bottom: 30px;}
.m08 .txt ul {line-height: 1.4;margin-bottom: 30px;}
.m08 .txt i {font-size: 40px; color: #fff;background: #333;padding: 10px;border-radius: 50%;margin-right: 15px;}

.m08 .txt a {display: block;width: 150px;line-height: 40px;padding: 0 20px;background: #333;color: #fff;border-radius: 0 15px 15px 0;position: relative;transition: 0.5s;}
.m08 .txt a:after {content: "";display: block;width: 30px;height: 30px;background: #fff;border-radius: 50%;position: absolute;top: 5px;right: 35px;opacity: 0;transition: 0.5s;}
.m08 .txt a:hover {width: 200px;}
.m08 .txt a:hover:after {right: 5px;opacity: 1;}
.m08 .txt strong {display: inline-block;width: 70px;font-weight: 700;text-transform: uppercase;}
.m08 .info {line-height: 1.6;}


@media (max-width:768px){
    .m08 {background:#f4f4f4 url(./assets/img/bg03.png);position: relative;height: 100vh;}
    .m08 .container {display: flex;flex-direction: column;width:auto;margin: 0 auto;}
    .m08 .container .mockup {flex:1;}
    .m08 .container .txt {flex: 1;display: flex;align-items: center;padding:0 20px 20px 20px;}
    .m08 .container .mockup figure {background: url(./assets/img/tvmockup2.png) no-repeat center top/contain;height: 300px;padding: 85px 96px 0 96px;}
    .m08 .container .mockup figure .web {height: 130px;overflow: hidden;}
    .m08 .container .mockup figure iframe {height: 130px;}

    
    .m08 .txt h3 {font-size: 30px;margin-bottom: 20px;}
    .m08 .txt p {font-size: 14px;font-weight: 300;line-height: 1.4;margin-bottom: 20px;}
    .m08 .txt ul {line-height: 1.4;margin-bottom: 10px;}
    .m08 .txt i {font-size: 20px; color: #fff;background: #333;padding: 5px;border-radius: 50%;margin-right: 10px;}
    
    .m08 .txt a {display: block;width: 150px;line-height: 40px;padding: 0 20px;background: #333;color: #fff;border-radius: 0 15px 15px 0;position: relative;transition: 0.5s;}
    .m08 .txt a:after {content: "";display: block;width: 30px;height: 30px;background: #fff;border-radius: 50%;position: absolute;top: 5px;opacity: 1;transition: 0.5s;}
    .m08 .txt a:hover {width: 200px;}
    .m08 .txt a:hover:after {right: 5px;opacity: 1;}
    .m08 .txt strong {display: inline-block;width: 70px;font-weight: 700;text-transform: uppercase;}
    .m08 .info {line-height: 1.6;}
} */






.m09 {position: relative;background:#f7f7f7 url(./assets/img/bg02.png);padding: 60px 0;}
.m09 .container {display: flex;justify-content: space-between;width: 1400px;margin: 0 auto;}
.m09 .container .s_profile .info {display: flex;font-size: 14px;font-weight: 300;line-height: 1.4;margin-bottom: 60px;}
.m09 .container .s_profile .info li {margin-right: 100px;}

.m09 .container figure {height: 150px;width: 150px;border-radius: 50%;overflow: hidden;border: 3px solid #333;}
.m09 .container figure img {width: 100%;cursor: pointer;}

.m09 .container i {margin-bottom: 50px;}
.m09 .container h2 {font-family: 'Open Sans', sans-serif;font-size: 30px;font-weight: 600;margin-bottom: 20px;}
.m09 .container p {font-size: 14px;font-weight: 300;}


@media (max-width:768px) {
    
    .m09 {position: relative;background:#f7f7f7 url(./assets/img/bg02.png);padding: 60px 0;text-align: center;}
    .m09 .container {display: flex;flex-direction: column;justify-content: space-between;width: auto;margin: 0 auto;}
    .m09 .container .s_profile .info {display: flex;font-size: 14px;font-weight: 300;line-height: 1.4;margin-bottom: 60px;}
    .m09 .container .s_profile .info li {margin:0 30px;}

    .m09 .container figure {width: 150px;border-radius: 50%;overflow: hidden;border: 3px solid #333;margin:auto;}
    .m09 .container figure img {width: 100%;cursor: pointer;}

    .m09 .container h2 {font-family: 'Open Sans', sans-serif;font-size: 40px;font-weight: 300;margin-bottom: 50px;}
    .m09 .container p {font-size: 14px;font-weight: 100;line-height: 1;}
    .m09 .container li {display:none;}

}





#full {position: fixed;top: 0;left: 0;width: 100%;height: 0;overflow: hidden;background:#f4f4f4 url(./assets/img/bg02.png);transition: 0.5s;z-index: 1000;}
#full .container {display: flex;width: 1300px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}

#full .container>* {padding: 0 100px;}
#full .container img {border-radius: 50%;width: 250px;}
#full .b_profile {display: flex;align-items: center;}

#full .b_profile h2 {font-size: 50px;font-weight: 300;margin-bottom: 20px;font-family: 'Allison', cursive;}
#full .b_profile p {font-size: 16px;margin-bottom: 20px;font-weight: 300;;line-height: 1.4;}


#full .b_profile li {line-height: 30px;transition: 0.3;margin-left: 100px;}
#full .b_profile li:hover {color: #ff5100;}
#full .b_profile li:before {content: "\e9b2";font-family: xeicon!important;margin-right:10px;transition: 0.3s;}
#full .b_profile li:hover:before {content: "\e9b1";font-family: xeicon!important;margin-right:20px;}

#full .b_profile li:after {content: "click";margin-left:30px ;opacity: 0;font-size: 12px;color: #999;transition: 0.3s;}
#full .b_profile li:hover:after {opacity: 1;}


#full>i {position:absolute;top: 60px;right: 60px;font-size: 30px;cursor: pointer;}
#full.on {height: 100vh;}


@media (max-width:768px) {
    #full {position: fixed;top: 0;left: 0;width: 100%;height: 0;overflow: hidden;background:#f4f4f4 url(./assets/img/bg02.png);transition: 0.5s;text-align: center;z-index: 1000;}
    #full .container {display: flex;flex-direction: column;width: auto;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 100%;}
    
    #full .container>* {padding: 0 50px;}
    #full .container img {width: 60px;border-radius: 50%;border: 1px solid #333;margin-bottom: 30px;}
    #full .b_profile {display: flex;align-items: center;}
    
    #full .b_profile h2 {font-size: 50px;font-weight: 300;margin-bottom: 20px;font-family: 'Allison', cursive;}
    #full .b_profile p {font-size: 14px;font-weight: 100;margin-bottom: 20px;}
    
    
    #full .b_profile li {display: none;line-height: 30px;transition: 0.3;}
    #full .b_profile li:hover {color: #ff5100;}
    #full .b_profile li:before {content: "\e9b2";font-family: xeicon!important;margin-right:10px;transition: 0.3s;}
    #full .b_profile li:hover:before {content: "\e9b1";font-family: xeicon!important;margin-right:20px;}
    
    #full .b_profile li:after {content: "click";margin-left:30px ;opacity: 0;font-size: 12px;color: #999;transition: 0.3s;}
    #full .b_profile li:hover:after {opacity: 1;}
    
    
    #full>i {position:absolute;top: 30px;right: 30px;font-size: 30px;cursor: pointer;}
    #full.on {height: 100vh;}    
}



#footer .copyright {position: fixed;bottom: 60px;left: 60px;z-index: 999;color: #ffffff;}
#footer i {position: fixed;bottom: 60px;right: 60px;font-size: 30px;cursor: pointer;z-index: 999;color: #ffffff;}


@media (max-width:768px) {
    #footer .copyright {position: fixed;bottom: 20px;left: 30px;z-index: 999;color: #ffffff;}
    #footer i {position: fixed;bottom: 20px;right: 30px;font-size: 30px;cursor: pointer;z-index: 999;color: #ffffff;}
}